.blue-button {
  font-size: 14px;
  padding: 4px 18px;
  border-radius: 3px;
  background-color: #00ccff;
  color: #ffffff;
  user-select: none;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-button:hover {
  background-color: #00bbea;
}

.blue-button:active {
  background-color: #00afdb;
}